/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
@media (prefers-color-scheme: light) {
     /* Default link styling */
     a:link { color:#0271fb; }
     a:visited { color:#bd02fb; }
     a:hover, a:focus { color:#000; }
     a:active { color:#fb0e02; }
}

/*
 * Dark mode
 * Will return to this part later
 */
@media DISABLED {
@media (prefers-color-scheme: dark) {
      body {
          color: #eee;
          background: #121212;
      }
      /* Default link styling */
      a:link { color:#0271fb; }
      a:visited { color:#bd02fb; }
      a:hover, a:focus { color:#000; }
      a:active { color:#fb0e02; }
}
}

html, body {
    height: 100%;
}

body {
	font-family: Roboto,Helvetica Neue,Arial,sans-serif;
}

#wrapper, #header, #logo, #search, #todays_pick, #footer {
    display: flex;
}

#wrapper {
    flex-flow: column nowrap;
    flex-direction: column;
    height: 100%;
}

#header {
    flex-flow: row wrap;
    align-items: center;
    justify-content: right;
    height: 60px;
}

#logo {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    min-height: 90px;
    max-height: 290px;
    height: clac(100% - 560px);
}

#search {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-height: 160px;
}

#todays_pick {
}

#footer {
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

#search_keyword {
   border: 1px solid #cccccc; 
   outline:0; 
   height:48px; 
   border-radius: 4px;
   box-sizing: border-box;
   font-size: 16px;
}

#search_submit {
   border: 1px solid #cccccc; 
   outline:0; 
   height:48px; 
   font-size: 16px;
   border-radius: 4px;
}
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
        margin-bottom:1em; 
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}